@{
    ViewData["Title"] = "Home Page";
}
@model AnaSayfa
<div class="main-banner">
	<div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34">
		<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
		<div id="rev_slider_34_1" class="rev_slider" data-version="5.0.7">
			<ul>
				@foreach (var item in (List<Fotograf>)ViewBag.Fotograf)
				{
					<li data-index="rs-129">
						<!-- MAIN IMAGE -->
						<img src="~/@item.FotoUrl" alt="" class="rev-slidebg">
						<!-- LAYERS -->
						<!-- LAYER NR. 2 -->
						<div class="tp-caption Newspaper-Title tp-resizeme"
							 id="slide-129-layer-1"
							 data-x="['left','left','left','left']" data-hoffset="['100','50','50','30']"
							 data-y="['top','top','top','center']" data-voffset="['165','135','105','0']"
							 data-fontsize="['50','50','50','30']"
							 data-lineheight="['55','55','55','35']"
							 data-width="['600','600','600','420']"
							 data-height="none"
							 data-whitespace="normal"
							 data-transform_idle="o:1;"
							 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
							 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
							 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
							 data-mask_out="x:0;y:0;s:inherit;e:inherit;"
							 data-start="1000"
							 data-splitin="none"
							 data-splitout="none"
							 data-responsive_offset="on">
							<div class="banner-text">
								<span>@Model.AltBaslik</span>
								<h2>@Model.Baslik</h2>

								<p>
									@Html.Raw(Model.AltBaslik)
								</p>
								<a class="btn-text" href="about_us.html">......</a>
							</div>
						</div>

					</li>
				}
				<!-- SLIDE  -->
			
		
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>
</div>
<!--  Main Banner End Here-->
<!--About-->
<section id="about_us" class="padding ptb-xs-40 gray-bg">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-12 col-lg-7 about-left">

				<div class="sec_hedding">
					<h2>@ViewBag.About.Baslik</h2>
					<span class="b-line l-left"></span>
				</div>
				<p>
					@Html.Raw(ViewBag.About.Baslik)
				</p>
	
			</div>

			<div class="col-md-12 col-lg-5">
				<img src="~/@ViewBag.AboutFoto" class="repo-full" alt="" />
			</div>

		</div>

	</div>
</section>
<!--About Us-->
<!-- OUR_Service -->
<section id="service_section" class="padding ptb-xs-40">
	<div class="container-fluid">
		<div class="row text-center mb-30">
			<div class="col-sm-12">
				<div class="sec_hedding">
					<h2>Hizmetler</h2>
					<span class="b-line"></span>
				</div>
			</div>
		</div>

		<div class="row">
		
			@foreach (var item in (List<Hizmetler>)ViewBag.Hizmet)
			{
				<div class="col-xl-3 col-lg-4 col-md-6 margin_top">
					<div class="maine_box">
						<div class="items_picher">
							<img src="~/@item.FotoUrl" alt="" />
						</div>

						<div class="box_detail">
							<div class="use_detail">
								<div class="event_detail">
									<i class="flaticon-skyline"></i>
								</div>
							</div>
							<div class="datail_show">
								<h3>@item.HizmetBaslik</h3>
								<p>
									@if (!string.IsNullOrEmpty(item.HizmetDetay) && item.HizmetDetay.Length >= 30)
									{
										@Html.Raw(item.HizmetDetay.Substring(0, 30))
									}
									else if (!string.IsNullOrEmpty(item.HizmetDetay))
									{
										@Html.Raw(item.HizmetDetay)
									}
									else
									{

									}
								</p>
								<a asp-controller="Home" asp-action="HizmetDetay" asp-route-id="@item.ID">Daha Fazlası</a>
							</div>
						</div>

					</div>
				</div>
			}
		

		

		</div>
	</div>
</section>
<!-- OUR_Service END-->



<!-- Project_Section -->
<section class="padding ptb-xs-40">
	<div class="container">
		<div class="row text-center mb-30">
			<div class="col-sm-12">
				<div class="sec_hedding">
					<h2><span>Our</span> Project</h2>
					<span class="b-line"></span>
				</div>
			</div>
		</div>

		<div class="row">
			@foreach (var item in (List<Hizmetler>)ViewBag.Projeler)
			{
				<div class="col-lg-4 mb-sm-30 mb-xs-30">
					<div class="position_relative img-scale max_size">
						<figure class="picher_doc">
							<img src="~/@item.FotoUrl" alt="">
							<div class="opacity-medium bg-extra-black"></div>
							<div class="date_top">
								<span>@item.HizmetBaslik</span>
							</div>
							<div class="inner_text">
								<h3 class="show_tital">@item.HizmetAltBaslik</h3>

								<p class="display_block">
									@if (!string.IsNullOrEmpty(item.HizmetDetay) && item.HizmetDetay.Length >= 30)
									{
										@Html.Raw(item.HizmetDetay.Substring(0, 30))
									}
									else if (!string.IsNullOrEmpty(item.HizmetDetay))
									{
										@Html.Raw(item.HizmetDetay)
									}
									else
									{

									}
								</p>
								<button class="btn btn-text" type="button" name="button">
									Daha Fazlası
								</button>
							</div>
						</figure>
					</div>
				</div>
			}
			

			
		</div>

	</div>
</section>
<!-- Project_Section_End-->
<!-- Counter Section -->
<div class="fact-counter-wrapper padding ptb-xs-40">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-sm-30 mb-xs-30">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-ios-list"></i>
					</div>
					<span class="counter" data-count="@ViewBag.Projeler.Count">0</span>
					<p>
						Toplam Projeler
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-sm-30 mb-xs-30">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-happy"></i>
					</div>
					<span class="counter" data-count="@ViewBag.Hizmet.Count">0</span>
					<p>
						Toplam Hizmetler
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-xs-30">
				<div class="single-fact">
					<div class="icon-boxed">
						<i class="ion-person-stalker"></i>
					</div>
					<span class="counter" data-count="@ViewBag.MessageCount">0</span>
					<p>
						Toplam Mesaj
					</p>
				</div>
			</div>
		
		</div>
	</div>
</div>

