@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Message>

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mesajlar</h5>
        <table id="example1" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Konu</th>
                    <th>Ad-Soyad</th>
                    <th>Email</th>
                    <th>Tarih</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Konu</td>
                        @if (!string.IsNullOrEmpty(item.Mesaj) && item.Mesaj.Length >= 30)
                        {
                            <td>@Html.Raw(item.Mesaj.Substring(0, 30))</td>
                        }
                        else if (!string.IsNullOrEmpty(item.Mesaj))
                        {
                            <td>@Html.Raw(item.Mesaj)</td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>@item.Email</td>
                        <td>@item.CreatedDate</td>
                        <td>

                            <a asp-action="MesajDetay" asp-controller="Admin" asp-route-id="@item.ID" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Detay" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>

                            <a onclick="confirmSil('Admin','MesajSil','@item.ID')" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil" data-bs-original-title="Delete" aria-label="Delete"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


    </div>

</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script>
    jQuery(document).ready(function ($) {
        $('#example1').DataTable({
            scrollX: true,
            responsive: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: "Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>